<%= render "header" %>

<div class="container body">
  <p style="color: green"><%= notice %></p>

  <p class="h1 title">Latest Posts</p>

  <div class="row">
    <% @blogs.each do |blog| %>
      <%= render blog %>
    <% end %>
  </div>
</div>
