@import "bootstrap";

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

/* header */
.header {
    width: 100%;
    padding-left: 40px;
}

.header-link {
    margin-right: 20px;
    font-size: 20px;
    float: right;
}

.create-btn {
    font-size: 20px;
    margin-bottom: 20px;
}

/* body */
.card-table {
    display: table;
}

.blog-card {
    margin-bottom: 25px;
    background-color: $gray-200;
    border-radius: 20px;
    padding: 20px 30px 10px 30px;
}

.title {
    margin-bottom: 40px;
}

.field {
    margin-bottom: 10px;
}

.actions {
    margin: 20px 0px 40px 0px;
}

.show-btn {
    font-size: 20px;
    border-width: 3px;
    font-weight: bold;
}
